<!-- TODO #2 Add AppSettings -->
<appSettings>
	<!-- Security Roles -->
	<add key="startupRoles" value="Administrators;Customers;Clerk;Director;Office Manager;Race Coordinator;Food Service;RegisteredUsers" />
	<!-- Website Administrator Credentials -->
	<add key="adminUserName" value="Webmaster" />
	<add key="adminEmail" value="Webmaster@chinook.ca" />
	<add key="adminPassword" value="Pa$$w0rd" />
	<add key="adminRole" value="Administrators" />

	<!-- Customer Credentials -->
	<add key="customerId" value="4" />
	<add key="customerUserName" value="HansenB" />
	<add key="customerEmail" value="bjon.hansen@yahoo.no" />
	<add key="customerPassword" value="Pa$$w0rd" />
	<add key="customerRole" value="Customers" />
	<!-- Clerk Credentials -->
	<add key="clerkId" value="20" />
	<add key="clerkUserName" value="CalderJ" />
	<add key="clerkEmail" value="CalderJ@eRace.com" />
	<add key="clerkPassword" value="Pa$$w0rd" />
	<add key="clerkRole" value="Clerk" />
	<!-- Employee Credentials -->
	<add key="directorId" value="24" />
	<add key="directorUserName" value="AlexN" />
	<add key="directorEmail" value="AlexN@eRace.com" />
	<add key="directorPassword" value="Pa$$w0rd" />
	<add key="directorRole" value="Director" />
	<!-- Employee Credentials -->
	<add key="officeManagerId" value="12" />
	<add key="officeManagerUserName" value="KarenY" />
	<add key="officeManagerEmail" value="KarenY@eRace.com" />
	<add key="officeManagerPassword" value="Pa$$w0rd" />
	<add key="officeManagerRole" value="Office Manager" />
	<!-- Employee Credentials -->
	<add key="raceCoordinatorId" value="5" />
	<add key="raceCoordinatorUserName" value="MartaT" />
	<add key="raceCoordinatorEmail" value="MartaT@eRace.com" />
	<add key="raceCoordinatorPassword" value="Pa$$w0rd" />
	<add key="raceCoordinatorRole" value="Race Coordinator" />
	<!-- Employee Credentials -->
	<add key="foodServiceId" value="1" />
	<add key="foodServiceUserName" value="MarlaK" />
	<add key="foodServiceEmail" value="MarlaK@eRace.com" />
	<add key="foodServicePassword" value="Pa$$w0rd" />
	<add key="foodServiceRole" value="Food Service" />


	<!-- Other User Defaults -->
	<add key="defaultRole" value="RegisteredUsers" />
	<add key="newUserPassword" value="Pa$$w0rd" />
</appSettings>
